:root {
    --border-radius: 1rem;
}

.chronometerTextArea {
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: 4px 16px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    color: #fff;
    resize: none;
}

    .chronometerTextArea:focus {
        background: rgba(255, 255, 255, 0.1);
        border-radius: var(--border-radius);
        box-shadow: 4px 16px 30px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 14px;
        color: #fff;
    }

.myCheckbox {
    background-color: #666666 !important;
    border: 1px solid rgba(66, 66, 66, 1);
}

    .myCheckbox:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 66, 66, 0.4);
        border: 1px solid rgba(66, 66, 66, 1);
    }

    .myCheckbox:checked {
        border: 1px solid rgba(66, 66, 66, 1);
    }

.rounded-4 {
    border-radius: 0.5rem!important;
}