body {
    margin: 0;
    min-height: 100vh;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    min-height: 100vh;
    color: #fff;
}

#root {
    min-height: 100vh;
    background-color: #191A1D;
    /*background-image: linear-gradient(43deg, #191A1D 0%, #4C4151 33%, #9A5E55 76%, #E09063 100%);*/
    /*background-image: linear-gradient(0deg, #000000 0%, #0C0717 33%, #150050 80%, #3F0071 100%);*/
    background-image: linear-gradient(0deg, #000000 0%, #0C0717 33%, #150050 100%);
    /*background-image: linear-gradient(43deg, #1F4E5A 0%, #009C8E 25%, #FFDB6A 50%, #FFA658 75%, #EA5F40 100%);*/
    /*background-image: linear-gradient(43deg, #205374 0%, #27A09E 33%, #30CE88 76%, #7DE393 100%);*/
    /*background-image: linear-gradient(43deg, #4A3341 0%, #6D4D6E 33%, #7E6991 76%, #A3A4BE 100%);*/
    /*background-image: linear-gradient(43deg, #141B29 0%, #36204E 33%, #984673 76%, #EDC784 100%);*/
    /*background-image: linear-gradient(43deg, #6B2A5F 0%, #B44C78 33%, #FF7079 76%, #F9AC9D 100%);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
